{% extends "layout.html" %}
{% block title %}Applications{% endblock %}

{% block content %}

<h3>Applications for {{ drive.job_title }}</h3>

<table class="table table-bordered table-hover mt-3">
    <thead class="table-light">
        <tr>
            <th>Student Name</th>
            <th>Department</th>
            <th>CGPA</th>
            <th>Status</th>
            <th>Details</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        {% for app in applications %}
        <tr>

            <td>{{ app.student.full_name }}</td>

            <td>{{ app.student.department }}</td>

            <td>{{ app.student.cgpa }}</td>

            <td>
                {% if app.status == 'APPLIED' %}
                    <span class="badge bg-secondary">Applied</span>
                {% elif app.status == 'SHORTLISTED' %}
                    <span class="badge bg-warning text-dark">Shortlisted</span>
                {% elif app.status == 'SELECTED' %}
                    <span class="badge bg-success">Selected</span>
                {% elif app.status == 'REJECTED' %}
                    <span class="badge bg-danger">Rejected</span>
                {% endif %}
            </td>

            <td>
                <a href="{{ url_for('main.student_details',
                                    student_id=app.student.student_id) }}"
                   class="btn btn-outline-info btn-sm">
                    Get Details
                </a>
            </td>

            <td>
                {% if app.status in ['SELECTED', 'REJECTED'] %}
                    <span class="text-muted small">Finalized</span>
                {% else %}
                    <a href="{{ url_for('main.update_application_status',
                                        application_id=app.application_id,
                                        status='SHORTLISTED') }}"
                       class="btn btn-warning btn-sm mb-1">
                        Shortlist
                    </a>

                    <a href="{{ url_for('main.update_application_status',
                                        application_id=app.application_id,
                                        status='SELECTED') }}"
                       class="btn btn-success btn-sm mb-1">
                        Select
                    </a>

                    <a href="{{ url_for('main.update_application_status',
                                        application_id=app.application_id,
                                        status='REJECTED') }}"
                       class="btn btn-danger btn-sm">
                        Reject
                    </a>
                {% endif %}
            </td>

        </tr>
        {% else %}
        <tr>
            <td colspan="6" class="text-center text-muted">
                No applications yet
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}